---
layout: default
---

<style type="text/css">
.author-image .img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-left: -40px;

  border-radius: 100%;
  overflow: hidden;
  padding: 6px;
  background: #ffffff;
  z-index: 2;
  box-shadow: #ffffff 0 0 0 3px;

  position: relative;
  top: auto;
  left: auto;
  width: 120px;
  height: 120px;

  margin: -100px auto 0 auto;
}

</style>
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <figure class="author-image">
            <div class="img" style="background-image: url('/img/seb-head-120.png')"></div>
        </figure>
        
      {{ content }}

    </div>
  </div>
</div>
