---
layout: default
---

<!-- This is the lqyout to rendre an individual podcast.  Podcast list is at podcast/index.html -->

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h3 class="subheading">{{ page.subtitle }}</h1>
          {% endif %}
          <span class="meta">{{ page.date | date: '%B %d, %Y' }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% if page.episode %}
      <h2>Episode #{{ page.episode }}</h2>
      {% endif %}

      {% if page.appleEpisodeId %}
      <iframe src="https://embed.podcasts.apple.com/fr/podcast/{{ site.podcast.applePodcastId  }}?i={{ page.appleEpisodeId }}&amp;itsct=podcast_box&amp;itscg=30200" height="175px" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media *;" style="width: 100%; max-width: 660px; overflow: hidden; border-radius: 10px; background: transparent;"></iframe>
      {% else %}
      <audio src="{{ site.podcast.link }}{{ page.file }}" controls="">
        <a href="{{ site.podcast.link }}{{ page.file }}">Download episode »</a>
      </audio>    
      {% endif %}
      <p>
      {{ page.description }}
      </p>
      {% if page.guest  %}
      <p>Avec {{ page.guest }}</p>
      {% endif %}
      <p>
      {{ content }}
      </p>

      <hr>

      <div class="clearfix">

        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}index.html" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}index.html" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}

      </div>

    </div>
  </div>
</div>
